.login-register {
  padding-top: 10px;
}

.login-container {
  padding-top: 10px;
  padding-left: 10px;
}

.product-image {
  height: 200px;
  object-fit: cover;
}

.product-detail {
  padding-top: 50px;
}
.product-detail-img {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar {
    padding-right: 70px;
}
.cart-image {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.cart-product {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#cart-right-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cart-right-content {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.cart {
  padding-top: 50px;
}

.cart-item-info {
    padding-top: 10px;
}

.cart-item-text {
    padding-top: 10px;
}

.cart-col-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cart-div-rm-btn {
    padding: 50px;
}

.checkout-container {
  padding-top: 50px;
}

.checkout-row {
  padding-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkout-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.checkout-col-content {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.order-image {
    height: 150px;
    object-fit: cover;
    width: 100%;
}

.order-row {
    padding-top: 10px;
}
.order-p {
    padding-top: 20px;
    
}

.add-product-form {
    padding: 15px;
}

.pay-btn-div {
  padding: 10px;
}

.pay-btn {
  margin-right: 10px;
}